* {
  background-color: #171717;
}
.general-section .heading{
  font-size: 1.5rem;
  position: relative;
  border-bottom: 1px solid rgb(65, 64, 64);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left:29.5%;
  height: 50px;
}
.general-section li {
  color: white;
  list-style: none;
}

.general-section li::before {
  content: "⚡";
  font-size: 20px;
  margin-right: 15px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(264deg, rgba(255, 16, 16, 1) 0%, rgb(43, 42, 42) 100%);

}

/* ===========Tablet media Query ============== */
@media (min-width: 768px) and (max-width: 1024px){

  .general-section .heading{
    padding-left: 14.5%;
  }

}

/* ===========Phone media Query ============== */
@media (max-width: 480px){
  .general-section .heading{
    padding-left: 2.5%;
  }
}